// Background
$color__background-body : hsl(229, 31%, 13%);
$color__background-main : hsla(233, 25%, 21%, 0.658);
$color__background-cours : hsl(234, 23%, 25%);
$color__background-header : hsl(231, 24%, 28%);
$color__background-barre : hsl(228, 24%, 22%);
$color__background-footer : hsl(230, 21%, 22%);
$color__background-link : hsla(230, 15%, 39%, 0.637);
$color__background-link-hover : hsl(221, 43%, 37%);



//liens
$color__link : hsl(209, 33%, 44%);
$color__link-hover : hsl(207, 63%, 53%);
$color__link-visited : hsl(187, 100%, 72%);

//liens footer
$color__link__footer : rgb(127, 218, 195);
$color__link__footer-hover : hsl(207, 63%, 53%);
$color__link__footer-visited : hsl(187, 100%, 72%);

//liens header
$color__link__header : rgb(127, 218, 195);
$color__link__header-hover : hsl(207, 63%, 53%);
$color__link__header-visited : hsl(187, 100%, 72%);

// Fonts
$color__font-header : rgb(161, 178, 211);
$color__font-main :rgb(255, 255, 255);
$color__font-barre : rgb(128, 184, 221);
$color__font-footer : rgb(107, 175, 230);
$color__font-body : rgb(31, 134, 182);
$color__font-cours-sigle : rgb(107, 230, 210);

//icones
$color__icone : hsl(229, 27%, 8%);
$color__icone-visited : hsl(228, 45%, 16%);
$color__icone-hover : hsl(217, 45%, 30%);