.site__main {
  min-height: 80vh;
  padding: 10px 15px;
  background-color: $color__background-main;
  border-radius: 5px;
  box-shadow: rgb(57, 68, 62) 1px -1px 10px;
  &__contenu-fake-bordure {
    border: 2px solid black;
    animation: shadow-spin 2s infinite linear;
    p {
      color: $color__texte;
      background-color: $color__background-header;
      margin: 1rem;
      padding: 1rem;
    }

    @keyframes shadow-spin {
      0% {
        box-shadow: 5px 5px white;
      }
      25% {
        box-shadow: 5px -5px white;
      }
      50% {
        box-shadow: -5px -5px white;
      }
      75% {
        box-shadow: -5px 5px white;
      }
      100% {
        box-shadow: 5px 5px white;
      }
    }
  }
  &__titre {
    font-size: 5rem;
  }
}
.formation {
  display: flex;
  flex-direction: column;

  &__titre {
    font-size: 2rem;
    color: $color__font-main;
    margin: 10px 0px;
    font-family: $font__titre;
  }
  &__liste {
    display: flex;
    flex-wrap: wrap;
  }

  &__cours {
    border: 2px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 0.5s;
    @media screen and (min-width: $largeur__media--tablette) {
      width: 45%;
    }
    @media screen and (min-width: $largeur__media--desktop) {
      width: 30%;
    }
    padding: 10px;
  }
  .video {
    background: linear-gradient(135deg, transparent 80%, purple 80%);
  }
  .creation-3d {
    background: linear-gradient(135deg, transparent 80%, green 80%);
  }
  .design {
    background: linear-gradient(135deg, transparent 80%, blue 80%);
  }
  .utilitaire {
    background: linear-gradient(135deg, transparent 80%, orange 80%);
  }
  .jeu {
    background: linear-gradient(135deg, transparent 80%, red 80%);
  }
  .web {
    background: linear-gradient(135deg, transparent 80%, rgb(225, 0, 255) 80%);
  }
  &__cours:hover {
    box-shadow: 5px 5px $color__background-header;
  }
}

.cours__titre {
  font-size: 1.5rem;
  color: $color__font-main;
  margin: 5px 0px;
}

.cours__sigle {
  font-size: 2rem;
  color: $color__background-header;
  margin: 0;
}

.cours__description {
  font-size: 1rem;
}
