.site__footer {
  font-family: $font__titre;
  background-color: $color__background-footer;
  color: $color__font-footer;
  padding: 15px;

  &__colonne {
    //.site__footer__colonne
    display: flex;
    flex-flow: column;
    @media screen and (min-width: $largeur__media--tablette) {
      flex-flow: row;
    }
    section {
      flex: 1;
      text-align: center;
      margin: 1rem 0;
      border-right: 3px solid black;
      border-radius: 5px;
    }
    .footer__lien {
      ul {
        padding: 0;
        li {
          list-style: none;
        }
      }
    }
  }

  &__ligne {
    //.site__footer__ligne
    display: flex;
    flex-direction: column;
    align-items: center;
    section {
      p {
        text-align: center;
      }
    }
  }
}

.footer__menu {
  &__nav {
    // .footer__menu__nav

    &__ul {
      // .footer__menu__nav__ul
      display: flex;
      list-style-type: none;
      justify-content: center;
      .menu-item {
        // .site__footer__menu__ul .menu-item
        margin: 10px 5px;
        a {
          // .site__footer__menu__ul .menu-item a
          display: flex;
          align-items: center;
          padding: 3px;
          svg {
            // .site__footer__menu__ul .menu-item a svg
            color: $color__link__footer;
          }

          &:hover {
            svg {
              // .site__footer__menu__ul .menu-item a svg
              color: $color__link__footer-hover;
            }
          }
        }
      }
    }
  }
}
