.site__header {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $color__background-header;
  color: $color__font-header;
  padding-left: 10px;

  @media screen and (min-width: $largeur__media--tablette) {
    flex-flow: row;
  }
  .custom-logo-link,
  .header__titre,
  .header__description {
    padding: 5px;
  }
  &__titre {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 100px;
      height: auto;
    }
  }
  .header__titre {
    font-size: clamp(3rem, 4vw, 7rem);
    transition: text-shadow 0.5s;
  }
  .header__titre:hover {
    text-shadow: 2px 2px white;
  }
  .header__description {
    font-size: clamp(2rem, 2vw, 4rem);
  }
}

.util {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 90%;
  justify-content: center;
  &__lien {
    display: flex;
    gap: 1rem;
    a {
      width: auto;
      height: auto;
    }
  }
  @media screen and (min-width: $largeur__media--tablette) {
    margin-left: auto;
    flex-flow: row;
    justify-content: flex-end;
    .recherche {
      width: clamp(400px, 35%, 40%);
    }
  }
}
