#burger {
  cursor: pointer;
  svg {
    background-color: $color__background-burger;
    border-radius: 50%;
  }
  svg:hover {
    background-color: $color__background-burger-hover;
  }
  z-index: 4;
  position: absolute;
  transition: transform 0.3s;
  transform: rotate(0);
}
#chk-burger {
  display: none;
}

#chk-burger:checked ~ #burger {
  transform: rotate(90deg);
}
.menu-principal-container {
  width: 95vw;
  display: block;
  position: absolute;
  transform: translate(-100%);
  transition: 0.5s;
  box-shadow: unset;
}
#chk-burger:checked ~ .menu-principal-container {
  transform: translate(0%);
  box-shadow: 5px 5px white;
}
.home .menu-principal-container {
  background-color: $color__background-nav;
  padding: 30px 0 0 0;
}
.site .menu-principal-container {
  background-color: $color__background-nav;
  padding: 30px 0 0 0;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-item {
  margin: 0;
  padding: 0;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 4px;
  }
}

@media screen and (min-width: $largeur__media--tablette) {
  .site #burger {
    display: none;
  }
  .menu-principal-container {
    width: unset;
  }

  .site .menu-principal-container {
    background-color: unset;
    display: block;
    padding: unset;
    position: unset;
    transform: unset;
  }
  .home #burger {
    display: block;
  }
  .home .menu-principal-container {
    background-color: $color__background-nav;
    display: block;
    padding: 30px 0 0 0;
    position: absolute;
    transform: translate(-100%);
    transition: 0.5s;
  }
}
