.menu-categorie-cours-container {
  .menu {
    display: flex;
    list-style-type: none;
    .menu-item {
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;
        padding: 0.5rem;
        border: 1px solid $color__link;
        border-radius: 0.5rem;
        background-color: $color__link-hover;
        color: #000;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: $color__link;
          color: $color__link-hover;
        }
      }
    }
  }
}
