$color__background-body: rgb(19, 21, 32);
$color__background-header: rgb(47, 46, 66);
$color__background-barre: rgb(42, 39, 56);
$color__background-main: rgb(37, 41, 78);
$color__background-footer: rgb(47, 46, 66);

$color__background-cartes : rgb(55, 54, 71);

$color__link: rgb(0, 1, 42);
$color__link-hover: rgb(4, 4, 189);
$color__link-visited: rgb(61, 61, 90);

$color__font-footer: rgb(163, 163, 163);
