/* ---------------- BACKGROUND */
$color__background-body : hsl(229, 31%, 13%);
$color__background-main : hsl(232, 40%, 14%);
$color__background-cours : hsla(233, 21%, 34%, 0.548);
$color__background-header : hsl(231, 24%, 28%);
$color__background-barre : hsl(228, 24%, 22%);
$color__background-footer : hsl(17, 8%, 17%);
$color__background-link : hsl(228, 24%, 22%);
$color__background-link-hover : hsl(221, 43%, 37%);

/* ---------------- LIENS */
$color__link : hsl(209, 33%, 44%);
$color__link-hover : hsl(207, 63%, 53%);
$color__link-visited : hsl(226, 74%, 44%);

/* ---------------- FONT */
$color__font-header : rgb(161, 178, 211);
$color__font-main :rgb(127, 218, 195);
$color__font-barre : rgb(128, 184, 221);
$color__font-footer : rgb(107, 175, 230);