.site__header {
  background-color: $color__background-header;
  text-align: center;
  .header__titre {
    font-size: 3em;
    font-family: $font__header;
  }

  .header__desc {
    font-size: 1.5rem;
  }
}
