.conteneur__frontpage-img{
  animation: anim-frontpage 6s linear infinite;
.image__frontpage{
  height: 100px;
  width: 100px;
  animation: anim-img-frontpage 6s linear infinite;
}
}
@keyframes anim-frontpage {
  0%{
      transform: rotate(0);
  }

  100%{
      transform: rotate(360deg);
  }
}
@keyframes anim-img-frontpage {
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(-360deg);
  }
}