.image__frontpage{
  height: 100px;
  width: 100px;
  animation: animFrontpage 5s ease-in-out infinite;
}
@keyframes animFrontpage {
  0%{
    transform: translateX(-15vw);
  }
  25%{
    transform: translateX(15vw);
  }
  50%{
    transform: translateX(0vw) translateY(5vh);
  }
  75%{
    transform: translateX(0vw) translateY(-5vh);
  }
  100%{
    transform: translateX(0vw) translateY(0vh);
  }
}