.animation__gmail:hover{
  flex-grow: 0.5;
}
.animation__gmail:hover::after{
  flex-grow: 0.5;
}

.animation__github:hover{
  flex-grow: 0.5;
  background-color: $color__background-link-hover;
}
.animation__github:hover::after{
  content: "github";
  font-size: 2rem;
}

.animation__linkedin:hover{
  flex-grow: 0.5;
  background-color: $color__background-link-hover;
}
.animation__linkedin:hover::after{
  content: "github";
  font-size: 2rem;
}

.animation__reddit:hover{
  flex-grow: 0.5;
  background-color: $color__background-link-hover;
}
.animation__reddit a:hover::after{
  content: "github";
  font-size: 2rem;
}

.animation__portfolio:hover{
  flex-grow: 0.5;
  background-color: $color__background-link-hover;
}
.animation__portfolio:hover::after{
  content: "github";
  font-size: 2rem;
}