.animation {
    display: flex;
    justify-content: space-between;

    &__bloc {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        box-shadow: 3px 3px 5px black;
        border-radius: 40%;
        background-color: rgb(72, 110, 128);
        color: white;
        font-size: 3rem;
        animation: forwards anim-entete 1s;
    }
}

@keyframes anim-entete {
    0%{
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}