.site__header {
  background-color: $color__background-header;
  padding-left: 10px;

  .header__titre a{
    font-size: 2em;
    font-family: $font__titre;
    color: $color__link__header;
    &:hover{
      color: $color__link__header-hover;
    }
  }

  .header__desc {
    font-size: 1.5rem;
    font-family: $font__main;
  }
}