#chk-burger {
  display: none;
}
#burger {
  position: fixed;
  z-index: 2;
  transition: transform 0.2s;
  transform: rotate(0);
}

#chk-burger:checked ~ #burger {
  transform: rotate(90deg);
}
.menu-principal-container {
  display: none;
}
#chk-burger:checked ~ .menu-principal-container {
  display: block;
  transform: scale(1, 0);
  animation: animationOverlay 0.5s forwards;
}
.site__barre {
  background-color: transparent;
}
.site__footer__menu__ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1 1  5%;
  & a{
    height: 100%;
  }
}
.site__header__menu__ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.menu {
  list-style-type: none;
  padding: 0;
  padding-top: 1rem;
  &-item {
    list-style-type: none;
    padding: 0px;
    width: 90%;
    
    a {
      display: block;
      text-decoration: none;
      padding: 0.3rem;
      margin: 0.15rem 0;
      background-color: $color__background-link;
      border-radius: 1rem;
      &:hover {
        background-color: $color__background-link-hover;
      }
    }
  }
}
@media screen and (min-width: $largeur__media--tablette) {
  .menu-principal-container {
    display: block;
  }
  #burger {
    display: none;
  }
}
@keyframes animationOverlay {
  from {
    transform: scale(1, 0);
  }

  to {
    transform: scale(1, 1);
  }
}
