/* ---------------- BACKGROUND */
$color__background-body: #fcc704;
$color__background-body-clip: #042a45;
$color__background-main: transparent;
$color__background-cours: #39d89d;
$color__background-header: #042a45;
$color__background-barre: #39d89d;
$color__background-footer: #042a45;
$color__background-link: hsl(227, 22%, 84%);
$color__background-link-hover: hsl(236, 64%, 44%);
$color__background-burger: #39d89d;
$color__background-burger-hover: #2da378;
$color__background-nav: #39d89d;
$color__background-animation-blocs: #39d89d;
$color__background-main-singlepost: #fcc704;

$color__texte: white;
/* ---------------- LIENS */
$color__link: black;
$color__link-hover: white;
$color__link-visited: black;
/* ---------------- LIENS FOOTER */
$color__link__footer: #fcc704;
$color__link__footer-hover: #39d89d;
$color__link__footer-visited: #fcc704;
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header: #fcc704;
$color__link__header-hover: #39d89d;
$color__link__header-visited: #fcc704;
/* ----------------------- couleur menu footer */
$color__link__footer__menu: #fff;
$color__link__footer__menu-visited: #ddd;
$color__link__footer__menu-hover: #f00;
$background__link__footer__menu: #444;
$background__link__footer__menu-visited: #555;
$background__link__footer__menu-hover: #222;
/* ----------------------- couleur menu principal */
$color__link__menu__principal: #0f0;
$color__link__menu__principal-visited: #0d0;
$color__link__menu__principal-hover: #00f;
$background__link__menu__principal: #ddd;
$background__link__menu__principal-visited: #ccc;
$background__link__menu__principal-hover: #ddd;

/* ---------------- FONT */
$color__font-header: rgb(214, 216, 228);
$color__font-main: black;
$color__font-barre: rgb(208, 216, 240);
$color__font-footer: rgb(226, 231, 248);
