$color__background-body: #2f2f2f;
$color__background-header: #474747;
$color__background-barre: #474747;
$color__background-bloc-bleu: #c02727;
$color__background-bloc-orange: #c02727;
$color__background-ombre: #434c52;
$color__background-main: rgb(78, 78, 78);
$color__background-footer: #474747;
$color__background-link: rgb(63, 63, 63);
$color__background-link-hover: rgb(41, 41, 41);

//liens
$color__link: #ff3c3c;
$color__link-hover: #ffffff;
$color__link-visited: #ff3c3c;

//liens footer
$color__link__footer: white;
$color__link__footer-hover: rgb(63, 63, 63);
$color__link__footer-visited: white;

//liens header
$color__link__header: white;
$color__link__header-hover: #c02727;
$color__link__header-visited: white;

// Fonts
$color__font-footer: white;
$color__font-header: #c02727;
$color__font-main: whitesmoke;
