.boite__modale, .boite__carrousel{
    position: fixed;
    display : flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background: rgba(0,0,0,0.5);
    border: 10px solid rgb(63, 80, 65);
    background-color: rgb(139, 175, 145);
    color: black;
    top : 25%;
    left: 25%;
    z-index: 100;
    transform: scale(0);
    transition: all 1s ease-in-out;
    align-content: center;
    justify-content: center;
    &:hover {
        box-shadow: 0px 0px 10px grey;
    }

    &__ferme {
        width: 25px;
        height: 25px;
        margin : 5px;
        z-index: 5;
        border-radius: 50%;
        background-color: $clair;
        color : $accents;
        align-self: flex-start;
        
    }

    &__ferme:hover {
        scale: 1.1;
        background-color: $accents;
        color : $clair;
    }

    &__texte {
        p{
            padding : 5px;
            font-size: 1.5rem;
        }
    }

    &__ouvrir {
        position: fixed;
        width: 50%;
        height: 50%;
        background: rgba(0,0,0,0.5);
        border: 10px solid rgb(27, 48, 59);
        background-color: rgb(29, 29, 29);
        color: whitesmoke;
        top : 25%;
        left: 25%;
        z-index: 100;
        transform: scale(1);
        &:hover {
            box-shadow: 0px 0px 10px grey;
        }
    }
    img{
        object-fit: cover;
        width: 100%;
        height: auto;
        
    }
}

.carte__desc__full {
    display: none; 
}
.boite__modale{
    width: 50%;
    height : 50%;
    top:25%;
    left:25%;
}
.boite__carrousel{
    width: 75%;
    height : 75%;
    top:12.5%;
    left:12.5%;

    img {
        position : absolute;
        object-fit:cover;
        width : 100%;
        height: 100%;
        top :0;
        left : 0;
    }

    &__navigation{
        position : absolute;
        bottom: 0;
        display : flex;
        justify-content: center;
        width: 100%;
        border : 1ps solid red;
        z-index: 1;

        button{
            width: 20px;
            height: 20px;
            border-radius: 100%;
            z-index: 10;
            &:focus {
                background-color: black;
            }
        }
    }
}