nav.menu-principal-container {
    @include theme_clair();
    padding: 15px;
    background-color: $clr-fond__nav;
    z-index: 100;
    font-size: 3em;
    width: 200vw;
    height: 200vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    transform: translateX(-200vw);
    transition: transform .5s ease-in-out;

    @media screen and (min-width: $largeur__media-tablette) {
        width: 30vw;
        height: 15vh;
        padding: 1em;
        border-radius: 0 10px 10px 0;
        top: 9vh;
        text-align: center;
        align-items: center;
        justify-content: center;
        left: -5vw;
        font-size: 1.5em;
    }

    ul.menu {
        list-style: none;
        height: fit-content;
        width: fit-content;
        li.menu-item {
            margin: 0.5em 0;
            height: 3rem;
            width: fit-content;
            padding: 4px;
            a {
                padding: 5px;
                text-decoration: none;
                @include hover-ombre__rapide;
            }
        }
    }
}