.home__menu {
    .menu {
        list-style-type: none;
        display: flex;
        flex-direction: column;

        .menu-item {
            width: 100%;
            // a {
            //     .menu-item-description {
                    
            //     }
            // }
        }
    }
}
.menus__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
}