
    .menu { //ul
        display : flex;
        justify-content: space-evenly;
        list-style-type: none;

        .accueil__cours .menu-item-icone{
            background-image: url('https://s2.svgbox.net/octicons.svg?ic=bug-bold');
        }
        .accueil__prof .menu-item-icone{
            background-image: url('https://s2.svgbox.net/octicons.svg?ic=bug-bold');
        }
        .accueil__aide .menu-item-icone{
            background-image: url('https://s2.svgbox.net/octicons.svg?ic=bug-bold');
        }
        .accueil__etudiant .menu-item-icone{
            background-image: url('https://s2.svgbox.net/octicons.svg?ic=bug-bold');
        }

        .menu-item { //li
            width : 20%;
            height : fit-content;
            padding : 10px;
            
            a {
                display : flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
               
                font-size: 1.5rem;
                height : 100%;
                hr{
                    width : 90%;
                }
                .menu-item-description { // span
                    font-size: 1rem;
                }
                
            }
            
        &:hover {
           
            a {
               color: $clr-lien-hover__nav;
            }
        }    

        }
        .icone__Cpp{
            .menu-item-icone{
                width : 3rem;
                height : 3rem;
                background-position : center;
                background-repeat: no-repeat;
                margin-top : auto;
                background-size: cover;
                background-image: url('https://s2.svgbox.net/files.svg?ic=css');
                z-index: 10;
            }
        }
        .icone__Cs{
            .menu-item-icone{
                width : 3rem;
                height : 3rem;
                background-position : center;
                background-repeat: no-repeat;
                margin-top : auto;
                background-size: cover;
                background-image: url('https://s2.svgbox.net/files.svg?ic=git');
            }
        }
        .icone__Rct{
            .menu-item-icone{
                width : 3rem;
                height : 3rem;
                background-position : center;
                background-repeat: no-repeat;
                margin-top : auto;
                background-size: cover;
                background-image: url('https://s2.svgbox.net/files.svg?ic=reactjs');
            }
        }
        .icone__UE{
            .menu-item-icone{
                width : 3rem;
                height : 3rem;
                background-position : center;
                background-repeat: no-repeat;
                margin-top : auto;
                background-size: cover;
                background-image: url('https://s2.svgbox.net/files.svg?ic=html');
            }
        }


    }


.menus__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
}